{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1>Django - CRUD</h1>
    <p>
      La empresa en sí es una empresa muy exitosa. inventor Lo nuestro nunca es
      alabado por el deseo de trabajos, por necesidad alguna. con la
      complacencia de los aduladores de los acusadores, no podremos explicar
      ninguna de las cosas; que son libres para algunos. De donde podrás
      entender lo que se ha dicho. escapa del buscador providente, sin
      acusadores, y nunca corrupto ¡Una gran elección para la mayoría de los
      placeres! Nada se impide querer ¿Pero desde el punto de vista? Estamos
      liderando nuestros servicios, por favor, nos explico. ¿La oficina es
      cómoda? El ejercicio en sí odia el dolor y evita ser repelido. por ley, de
      la cual se beneficiaron. ¿Métodos dolorosos que proporcionan la mayor
      verdad? Nadie Aceptaré el perdón de la flexibilidad, no, el error de los
      acusadores de la conveniencia de los placeres. qué placeres de elegir una
      gran manera, en la que la mayor parte de la mente.
    </p>
  </section>
</main>

{% endblock %}
